body { /* 0,0,0,1 */
    color:blueviolet;
}

/* change color of all paragraphs */

p {
    color: rgb(170, 29, 140);
}

/* target child elements */
section h1 { /* 0,0,0,2 */
    color:crimson;
}
/* style a class */
.secondary-heading{ /* 0,0,1,0*/
    color:darkcyan
}
/* style an id */
#main-section { /* 0,1,0,0 */
    color:darkorchid;
    font-weight:bold;
}

/* LVHA */
a:link {color: greenyellow;}
a:visited {color: deeppink;}
a:hover {color: forestgreen;}
a:active {color: goldenrod;}
