/* centres header */
h1 {
    text-align: center;
}

/* changes body font size */

body {
    font-size: 18px;
}

/* changes background color of footer and header */
h1, footer {
    background-color: blueviolet;
}

/* changes font color of header */
.site-title {
    color: rgb(233, 219, 31);
}
/* adds box to image*/
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}
/* square bullet points */
ul {
    list-style-type: square;
}
/* odd numbers on hobby list background color change */
li:nth-child(odd) {
    background: rgb(0, 0, 0)
}
/* change font color white to photography hobby */
li:nth-child(odd) { 
    color: rgb(255, 255, 255);
}
/*LVHA colours*/
a:link {
    border: 2px green;
    text-decoration: none;
    background-color: greenyellow;
}
a:visited {
    background-color: deeppink;
}
a:hover {
    border: 2px rgb(0, 0, 0);
    text-decoration: none;
    background-color: forestgreen;
}
a:active {
    background-color: goldenrod;
}