/* centres header */
h1 {
    text-align: center;
}

/* changes body font size */

body {
    font-size: 18px;
}

/* changes background color of footer and header */
h1, footer {
    background-color: blueviolet;
}

