html{
    margin: 0 15%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#aad4cf;
}
/*matches webpage background color to example*/
body {
    background-color: #d4e9e7 ;
}
/* adds starfish background image and changes font to arial*/

header {
    background-image: url("/midterm/img/lone-starfish-wide.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin: 0 auto
}
   
h1 {
    color: white;
    text-align: center;   
}

nav ul li{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center ;
    width: 300px;
}

.vl {
    border-left: 1px solid;
}

img{
    float: left;
    width: 175px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.submit{
    width: 98%;
}
.message{
    width: 98%;
    height: 75px;
}
.form{
    padding: 10px;
    border: 1px solid;