/*matches webpage background color to example*/
body {
    background-color:#aad4cf;
}
/* adds starfish background image and changes font to arial*/
h1 {
    background-image: url("/midterm/img/lone-starfish-wide.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}